<! DOCTYPE html >
<html lang="es">
  <cabeza>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0" />
    <enlace
      rel="hoja de estilo"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <enlace
      rel="hoja de estilo"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anónimo"
    />
    <título>Eliminar Palabra</título>
  </cabeza>
  <cuerpo>
    <div class="wrap">
      <div>
        <clase de encabezado ="encabezado --una tarjeta">
          <una clase="linkBack" href="/"
            ><i class="fas fa-arrow-left"></i> Volver</ a
          >
          <h1>
            Eliminar Palabra al Diccionario
            <span> <i class=" fafa-book book--icon"></i></span>
          </h1>
        </encabezado>

        <div id="form-box">
          <div class="form-box--img">
            <img
              src="{{url_for('static', filename='img/addWord-pic.svg')}}"
              alt=""
            />
          </div>
          <acción de formulario ="" clase="form-box-inputs" método="POST">
            <div class="caja">
 {% si el mensaje %}
              <p clase="mensaje">
                La palabra no existe <i class="fas fa-frown-open"></i>
              </p>
 {% endif %} {% si mensaje == Falso %}
              <p clase="mensaje">
                La palabra se Elimino <i class="fas fa-smile-beam"></i>
              </p>
              {% endif %}
              <div>
                <label for="">Palabra a Eliminar</label>
                <tipo deentrada ="texto" nombre="palabra" />
              </div>
              <botón
                onclick="(e) => e.preventDefault()"
                type="enviar"
                class="btn-submit"
              >
                Eliminar Palabra
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
            text-decoration: none;
            color: rgb(171, 206, 241);
            font-size: 0.8rem;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #f5f8fb;;
            padding: 1rem 2rem;
            border-radius: 20px;
            display: inline-block;
        
            /* Aplica para Flexbox */
            align-self: center;
        }

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: rgb(4, 73, 142);
  color: var(--dark-primary);
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
}

.card {
  padding: 2rem;

  border-radius: 5px;
}
.layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.header--one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--ui-primary);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.header--one p {
  font-size: 1.8rem;
}

.content--one {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content--one h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.content--one p {
  font-size: 1.8rem;
  color: var(--ui-secondary);
}
.content--one p:first-of-type {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.content--one img {
  width: 90%;
  height: auto;
  margin: 4rem 0;
}

.aside--one {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 100%;
  background-color: var(--ui-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
}

.aside--one a {
  text-decoration: none;
  color: var(--white-primary);
  background-color: var(--dark-primary);
  padding: 1rem 2rem;
  border-radius: 5px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transition: all 400ms;
}

.aside--one a:hover {
  transform: scale(1.1);
}
.aside--one a:active {
  transform: scale(1);
}

.book--icon {
  font-size: 3rem;
}

.form-box {
  display: flex;
  border: 1px solid var(--dark-primary);
  box-shadow: 1px 3px 5px var(--ui-primary);
  border-radius: 5px;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-box--img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-box--img img {
  width: 100%;
}

.box {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.box label {
  font-size: 2rem;
  margin-right: 0.5rem;
  font-weight: 500;
}

.box div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.box div label {
  justify-self: right;
  color: var(--dark-primary);
}

.box div input,
textarea {
  justify-self: left;
  border: 1px solid var(--ui-secondary);
  outline: none;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.btn-submit {
            text-decoration: none;
            color: white;
            font-size: 0.8rem;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #2086fb;;
            padding: 1rem 2rem;
            border-radius: 20px;
            display: inline-block;
        
            /* Aplica para Flexbox */
            align-self: center;
        }


.btn-submit:hover {
  background-color: #475a7bc7;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.linkBack {
  text-decoration: none;
  font-size: 2rem;
  color: var(--dark-primary);
}

.message {
  background-color: #4b62a5;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.palabra {
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1 / 2;
}

.definicion {
  font-size: 1.8rem;
  grid-column: 2 / 3;
}

.palabras-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  height: 60vh;
  overflow-y: scroll;
  align-items: center;
}

.palabraHeader {
  background-color: var(--ui-secondary);
  margen-fondo: 1rem ;
  text-align: centro;
  color: blanco;
  font-weight: inicial;
  relleno: 0.5rem ;
  radio de borde: 5px ;
}

. definicionHeader {
  color defondo: var(--ui-secondary);
  margen-fondo: 1rem ;
  text-align: centro;
  color: blanco;
  relleno: 0.5rem ;
  radio de borde: 5px ;
}

. definiciónBox {
  cuadrícula-plantilla-columnas: 1fr  !importante;
  intervalo de fila: 1rem ;
}
  </estilo>
</cabeza>